[Desktop Entry]
Type=Application
Name=RustSIPPhone
Name[ru]=RustSIPPhone
Comment=SIP softphone
Comment[ru]=Звонки по SIP
Exec=rust_sip_phone
Icon=rustsipphone
Terminal=false
Categories=Network;Telephony;
